.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

table {
    margin: 0 auto;
    border: 1px solid black;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
}

.input-field {
    width: 500px;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
}

svg {
    position: absolute;
    left: -30px;
    top: 5px;
}